event.c filter=lfs diff=lfs merge=lfs -text
event_iocp.c filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
epolltable-internal.h filter=lfs diff=lfs merge=lfs -text
minheap-internal.h filter=lfs diff=lfs merge=lfs -text
epoll.c filter=lfs diff=lfs merge=lfs -text
log.c filter=lfs diff=lfs merge=lfs -text
event-internal.h filter=lfs diff=lfs merge=lfs -text
http-internal.h filter=lfs diff=lfs merge=lfs -text
iocp-internal.h filter=lfs diff=lfs merge=lfs -text
m4 filter=lfs diff=lfs merge=lfs -text
post_update.sh filter=lfs diff=lfs merge=lfs -text
ratelim-internal.h filter=lfs diff=lfs merge=lfs -text
buffer_iocp.c filter=lfs diff=lfs merge=lfs -text
evconfig-private.h.in filter=lfs diff=lfs merge=lfs -text
time-internal.h filter=lfs diff=lfs merge=lfs -text
Doxyfile filter=lfs diff=lfs merge=lfs -text
event-config.h.cmake filter=lfs diff=lfs merge=lfs -text
evrpc-internal.h filter=lfs diff=lfs merge=lfs -text
http.c filter=lfs diff=lfs merge=lfs -text
libevent_extra.pc.in filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
cmake filter=lfs diff=lfs merge=lfs -text
defer-internal.h filter=lfs diff=lfs merge=lfs -text
whatsnew-2.0.txt filter=lfs diff=lfs merge=lfs -text
evutil.c filter=lfs diff=lfs merge=lfs -text
log-internal.h filter=lfs diff=lfs merge=lfs -text
bufferevent_filter.c filter=lfs diff=lfs merge=lfs -text
bufferevent_openssl.c filter=lfs diff=lfs merge=lfs -text
libevent_pthreads.pc.in filter=lfs diff=lfs merge=lfs -text
poll.c filter=lfs diff=lfs merge=lfs -text
sample filter=lfs diff=lfs merge=lfs -text
bufferevent-internal.h filter=lfs diff=lfs merge=lfs -text
evconfig-private.h.cmake filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
bufferevent.c filter=lfs diff=lfs merge=lfs -text
strlcpy-internal.h filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
ChangeLog-1.4 filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
event_tagging.c filter=lfs diff=lfs merge=lfs -text
evthread-internal.h filter=lfs diff=lfs merge=lfs -text
kqueue-internal.h filter=lfs diff=lfs merge=lfs -text
libevent.pc.in filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
buffer.c filter=lfs diff=lfs merge=lfs -text
mm-internal.h filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
listener.c filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
event_rpcgen.py filter=lfs diff=lfs merge=lfs -text
select.c filter=lfs diff=lfs merge=lfs -text
win32select.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
build-aux filter=lfs diff=lfs merge=lfs -text
evbuffer-internal.h filter=lfs diff=lfs merge=lfs -text
evconfig-private.h filter=lfs diff=lfs merge=lfs -text
evthread_pthread.c filter=lfs diff=lfs merge=lfs -text
Makefile.nmake filter=lfs diff=lfs merge=lfs -text
openssl-compat.h filter=lfs diff=lfs merge=lfs -text
WIN32-Code filter=lfs diff=lfs merge=lfs -text
bufferevent_sock.c filter=lfs diff=lfs merge=lfs -text
ChangeLog-2.0 filter=lfs diff=lfs merge=lfs -text
devpoll.c filter=lfs diff=lfs merge=lfs -text
doxygen.am filter=lfs diff=lfs merge=lfs -text
evport.c filter=lfs diff=lfs merge=lfs -text
evutil_time.c filter=lfs diff=lfs merge=lfs -text
libevent_openssl.pc.in filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
compat filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
strlcpy.c filter=lfs diff=lfs merge=lfs -text
evthread.c filter=lfs diff=lfs merge=lfs -text
util-internal.h filter=lfs diff=lfs merge=lfs -text
whatsnew-2.1.txt filter=lfs diff=lfs merge=lfs -text
arc4random.c filter=lfs diff=lfs merge=lfs -text
changelist-internal.h filter=lfs diff=lfs merge=lfs -text
config.h.in filter=lfs diff=lfs merge=lfs -text
evdns.c filter=lfs diff=lfs merge=lfs -text
evrpc.c filter=lfs diff=lfs merge=lfs -text
evutil_rand.c filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD_LIKE filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
bufferevent_async.c filter=lfs diff=lfs merge=lfs -text
bufferevent_ratelim.c filter=lfs diff=lfs merge=lfs -text
evmap-internal.h filter=lfs diff=lfs merge=lfs -text
evsignal-internal.h filter=lfs diff=lfs merge=lfs -text
evthread_win32.c filter=lfs diff=lfs merge=lfs -text
ipv6-internal.h filter=lfs diff=lfs merge=lfs -text
kqueue.c filter=lfs diff=lfs merge=lfs -text
libevent_core.pc.in filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
epoll_sub.c filter=lfs diff=lfs merge=lfs -text
make-event-config.sed filter=lfs diff=lfs merge=lfs -text
signal.c filter=lfs diff=lfs merge=lfs -text
ht-internal.h filter=lfs diff=lfs merge=lfs -text
bufferevent_pair.c filter=lfs diff=lfs merge=lfs -text
evmap.c filter=lfs diff=lfs merge=lfs -text
